/*Header*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, #364c96 35%, white 49%, #ff8496 83%);
  animation-name: animacion;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  animation-delay: 0s;
  background-size: 500% 500%; }
  header .header__logo {
    width: auto;
    height: auto; }
  header .header__container__name__navbar {
    margin-left: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  header .header__name {
    width: 100%;
    height: auto;
    margin-top: 10px;
    font-size: large;
    font-size: 50px;
    color: #ffd17b; }
  header nav {
    font-size: large;
    background: linear-gradient(90deg, #364c96 35%, white 49%, #ff8496 83%);
    animation-name: animacion;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-delay: 0s;
    background-size: 500% 500%; }
    header nav .form-control {
      color: #364c96; }
    header nav:hover {
      color: #ff8496; }
    header nav .btn-outline-success {
      border: solid 1px #364c96;
      background-color: #f8faff; }
      header nav .btn-outline-success:hover {
        background-color: #ff8496;
        border: solid 1px white; }

@keyframes animacion {
  0% {
    background-position: 5% 0%; }
  25% {
    background-position: 35% 0%; }
  50% {
    background-position: 96% 0%; }
  100% {
    background-position: 5% 0%; } }

/*Normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

/*Body*/
body {
  width: 100%;
  height: auto;
  background-color: #ffd17b; }

.type__over__ligth {
  font-family: 'Overpass', sans-serif;
  font-weight: 300; }

.type__over__medium {
  font-family: 'Overpass', sans-serif;
  font-weight: 500; }

.type__over__bold {
  font-family: 'Overpass', sans-serif;
  font-weight: 700; }
