@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
.container__form {
  padding: 20px; }
  .container__form .submit {
    color: white;
    background-color: #851640; }
  .container__form .submit:hover {
    color: black;
    background-color: #ff8496; }
  .container__form fieldset {
    padding: 5px;
    margin: 5px; }
  .container__form input {
    background-color: #f8faff; }
  .container__form iframe {
    padding: 10px;
    width: 100%; }
  .container__form iframe:hover {
    border: 1.5px solid #ebdfdf; }

.mapa {
  width: 1200PX;
  margin-left: 200px;
  margin-bottom: 40px; }

/*footer*/
footer {
  margin-left: 95px;
  width: 75%;
  height: 50px;
  gap: 10px;
  border-top: solid 2px #ff8496;
  display: flex;
  flex-direction: row;
  background-color: #ffd17b; }
  footer .informacion {
    width: auto;
    height: auto;
    font-size: large;
    margin-left: 100px;
    margin-top: 20px; }
  footer .redes {
    width: auto;
    display: flex;
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 50px; }
  footer .instagram {
    width: auto;
    height: auto;
    transform: scale(0.2); }
  footer .instagram:hover {
    border: solid 2px #b31717; }
  footer .facebook {
    width: auto;
    height: auto;
    transform: scale(0.2); }
  footer .facebook:hover {
    border: solid 2px #0315b6; }
  footer .whatsapp {
    width: auto;
    height: auto;
    transform: scale(0.2); }
  footer .whatsapp:hover {
    border: solid 2px #009c0d; }

/*Header*/
header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, #364c96 35%, white 49%, #ff8496 83%);
  animation-name: animacion;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  animation-delay: 0s;
  background-size: 500% 500%; }
  header .header__logo {
    width: auto;
    height: auto; }
  header #header__red__social {
    width: 100%;
    margin-right: 10px;
    padding: 10px;
    gap: 30px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    header #header__red__social .header__red__social__instagram a {
      color: red; }
  header .header__button {
    width: 60px;
    height: auto;
    color: #364c96;
    display: flex;
    justify-content: center;
    margin-left: 1450px; }
    header .header__button:hover {
      color: black;
      background-color: #ff8496;
      border: 1px solid #ffd17b; }
  header .header__container__name__navbar {
    margin-left: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  header .header__name {
    width: 100%;
    height: auto;
    margin-top: 10px;
    font-size: large;
    font-size: 50px;
    color: #ffd17b; }
  header nav {
    font-size: large;
    background: linear-gradient(90deg, #364c96 35%, white 49%, #ff8496 83%);
    animation-name: animacion;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-delay: 0s;
    background-size: 500% 500%; }
    header nav .form-control {
      color: #364c96; }
    header nav:hover {
      color: #ff8496; }
    header nav .btn-outline-success {
      border: solid 1px #364c96;
      background-color: #f8faff; }
      header nav .btn-outline-success:hover {
        background-color: #ff8496;
        border: solid 1px white; }

@keyframes animacion {
  0% {
    background-position: 5% 0%; }
  25% {
    background-position: 35% 0%; }
  50% {
    background-position: 96% 0%; }
  100% {
    background-position: 5% 0%; } }

main {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffd17b; }
  main .main__h1 {
    font-size: 40px;
    color: #364c96;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: overline; }
  main .main__carousel {
    width: 600px;
    height: auto;
    margin-top: 50px;
    margin-left: 500px; }
    main .main__carousel:hover {
      border: solid 1px #ff8496; }
  main .main__grid {
    margin-top: 100px;
    padding: 100px;
    width: 100%;
    height: auto;
    display: grid;
    gap: 15px 15px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "img1 img1 img2 img2 img3 img3 publicidad publicidad" "img4 img4 img5 img5 img6 img6 publicidad publicidad" "img7 img7 img8 img8 img9 img9 publicidad publicidad" "proximamente proximamente proximamente proximamente proximamente proximamente publicidad publicidad"; }
  main .img__grid {
    width: auto;
    height: auto; }
  main .img1 {
    display: flex;
    justify-content: center;
    background-color: #ead591;
    width: auto;
    height: auto;
    grid-area: img1; }
  main .img1:hover {
    border: solid 2px #b95d5d; }
  main .img2 {
    display: flex;
    justify-content: center;
    background-color: #ead591;
    grid-area: img2; }
  main .img2:hover {
    border: solid 2px #b95d5d; }
  main .img3 {
    display: flex;
    justify-content: center;
    background-color: #ead591;
    grid-area: img3; }
  main .img3:hover {
    border: solid 2px #b95d5d; }
  main .img4 {
    display: flex;
    justify-content: center;
    background-color: #ead591;
    grid-area: img4; }
  main .img4:hover {
    border: solid 2px #b95d5d; }
  main .img5 {
    display: flex;
    justify-content: center;
    background-color: #ead591;
    grid-area: img5; }
  main .img5:hover {
    border: solid 2px #b95d5d; }
  main .img6 {
    display: flex;
    justify-content: center;
    background-color: #ead591;
    grid-area: img6; }
  main .img6:hover {
    border: solid 2px #b95d5d; }
  main .img7 {
    display: flex;
    justify-content: center;
    background-color: #ead591;
    grid-area: img7; }
  main .img7:hover {
    border: solid 2px #b95d5d; }
  main .img8 {
    display: flex;
    justify-content: center;
    background-color: #ead591;
    grid-area: img8; }
  main .img8:hover {
    border: solid 2px #b95d5d; }
  main .img9 {
    display: flex;
    justify-content: center;
    background-color: #ead591;
    grid-area: img9; }
  main .img9:hover {
    border: solid 2px #b95d5d; }
  main .publicidad {
    background-color: darkorange;
    background-image: url(../images/poker.jpg);
    background-repeat: no-repeat;
    grid-area: publicidad; }
  main .proximamente {
    display: flex;
    flex-direction: row;
    background-image: url(../images/telon.jpg);
    background-repeat: no-repeat;
    background-color: darkorange;
    grid-area: proximamente; }

/*Normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

/*Nosotros*/
.nosotros__imagen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px; }
  .nosotros__imagen img {
    border-top: solid 4px #364c96;
    border-bottom: solid 4px #364c96; }

.nosotros__texto {
  padding: 35px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px; }

/*Body*/
.body {
  width: 100%;
  height: auto;
  background-color: #ffd17b; }

.type__over__ligth {
  font-family: 'Overpass', sans-serif;
  font-weight: 300; }

.type__over__medium {
  font-family: 'Overpass', sans-serif;
  font-weight: 500; }

.type__over__bold {
  font-family: 'Overpass', sans-serif;
  font-weight: 700; }

/*Galeria*/
.multimedia {
  width: 100%;
  height: auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .multimedia iframe {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px; }
    .multimedia iframe:hover {
      border-left: 4px solid #ff8496;
      border-right: 4px solid #364c96; }
