/*Mi Cuenta*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
#main__mi__cuenta {
  width: 100%;
  height: 500px; }
  #main__mi__cuenta form {
    margin-top: 100px;
    width: 100%;
    padding: 50px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #main__mi__cuenta form .main__mi__cuenta__input {
      width: 300px;
      height: 25px;
      border: 0.5px solid #ff8496; }
      #main__mi__cuenta form .main__mi__cuenta__input:hover {
        color: white;
        border: 0.5px solid #ff8496;
        transition: 1s; }
    #main__mi__cuenta form .submit {
      color: white;
      background-color: #851640; }
    #main__mi__cuenta form .submit:hover {
      transition: 2s;
      color: white;
      background-color: #ff8496; }

.container__form {
  background-image: url(../images/background_universo.webp);
  padding: 20px; }
  .container__form .submit {
    width: 10rem;
    border: 0.5px;
    border-radius: 3px;
    color: white;
    background-color: #851640; }
  .container__form .submit:hover {
    transition: 1s;
    color: white;
    background-color: #ff8496; }
  .container__form fieldset {
    padding: 5px;
    margin: 5px; }
  .container__form input {
    background-color: #f8faff; }
  .container__form iframe {
    padding: 10px;
    width: 100%; }
  .container__form iframe:hover {
    border: 1.5px solid #ebdfdf; }

.container__mapa {
  background-image: url(../images/background_universo.webp); }
  .container__mapa .mapa {
    width: 1200PX;
    height: 400px;
    margin-left: 200px;
    margin-bottom: 35px; }

/*footer*/
footer {
  width: 75%;
  height: 300px;
  margin-top: 50px;
  margin-left: 95px;
  gap: 1px;
  border-top: solid 1px white;
  display: flex;
  flex-direction: row;
  /*background-color: #ffd17b;*/
  background-color: #050031; }
  footer .footer__navbar {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    font-size: large;
    margin-left: 100px;
    margin-top: 20px;
    gap: 2px; }
    footer .footer__navbar a {
      color: white; }
      footer .footer__navbar a:hover {
        border-bottom: 0.1px solid white; }
      footer .footer__navbar a:visited {
        color: #6b1346; }
  footer .footer__redes {
    width: auto;
    display: flex;
    margin-top: 1px;
    margin-left: 50px;
    margin-bottom: 10px; }
  footer .instagram, footer .facebook, footer .whatsapp {
    position: absolute;
    width: auto;
    height: auto;
    border-radius: 100px;
    transform: scale(0.2); }
  footer .instagram:hover, footer .facebook:hover, footer .whatsapp:hover {
    opacity: 0.3;
    transition: 1s; }
  footer .facebook {
    position: absolute;
    margin-left: 160px; }
  footer .whatsapp {
    margin-left: 80px;
    position: absolute; }

/*Header*/
header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, #364c96 35%, white 49%, #7d418b 83%);
  animation-name: animacion;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  animation-delay: 0s;
  background-size: 500% 500%; }
  header .header__logo {
    width: auto;
    height: auto; }
  header #header__red__social {
    width: 100%;
    margin-right: 10px;
    padding: 10px;
    gap: 30px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    header #header__red__social .header__red__social__instagram a {
      color: red; }
  header .header__button {
    width: 60px;
    height: 20px;
    font-size: 10px;
    border: 0.5px solid;
    border-radius: 3px;
    color: #364c96;
    display: flex;
    justify-content: center;
    margin-left: 1462px; }
    header .header__button:hover {
      transition: 1s;
      color: white;
      background-color: #ff8496;
      border: 1px solid white; }
  header .header__container__name__navbar {
    margin-left: 5px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  header .header__name {
    width: 100%;
    height: auto;
    margin-top: 10px;
    font-size: large;
    font-size: 50px;
    color: black; }
  header nav {
    font-size: large;
    background: linear-gradient(90deg, #364c96 35%, white 49%, #7d418b 83%);
    animation-name: animacion;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    animation-delay: 0s;
    background-size: 500% 500%; }
    header nav .form-control {
      color: #364c96; }
    header nav:hover {
      color: #ff8496; }
    header nav .btn-outline-success {
      border: solid 1px #364c96;
      background-color: #f8faff; }
      header nav .btn-outline-success:hover {
        background-color: #ff8496;
        border: solid 1px white; }
    header nav .access {
      color: green;
      font-size: smaller;
      border-bottom: 0.5px solid green; }
    header nav ul .dropdown-menu :nth-child(1), header nav ul .dropdown-menu main .publicidad .publicidad__dos, main .publicidad header nav ul .dropdown-menu .publicidad__dos, header nav ul .dropdown-menu main .publicidad .publicidad__tres, main .publicidad header nav ul .dropdown-menu .publicidad__tres, header nav ul .dropdown-menu main .publicidad .publicidad__cuatro, main .publicidad header nav ul .dropdown-menu .publicidad__cuatro {
      display: flex;
      gap: 6px; }
    header nav ul .dropdown-menu :nth-child(5) {
      width: 65px;
      border-bottom: 0.5px solid black;
      margin-left: 10px; }

@keyframes animacion {
  0% {
    background-position: 5% 0%; }
  25% {
    background-position: 35% 0%; }
  50% {
    background-position: 96% 0%; }
  100% {
    background-position: 5% 0%; } }

@keyframes animate {
  0% {
    transform: rotatey(0deg); }
  25% {
    transform: rotateY(45deg); }
  100% {
    transform: rotateY(90deg); } }

/*Main*/
main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #050031;
  background-image: url(../images/background_universo.webp);
  background-repeat: no-repeat; }
  main .main__h1 {
    margin-top: 20px;
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: overline; }
  main .main__carousel {
    width: 36rem;
    height: auto;
    margin-top: 30px;
    margin-left: 500px;
    background-image: url(../images/background_universo.webp); }
    main .main__carousel:hover {
      border: solid 1px #ff8496;
      box-shadow: 20px 20px 60px #262250; }
  main .main__grid {
    margin-top: 100px;
    padding: 100px;
    width: 100%;
    height: auto;
    display: grid;
    gap: 15px 15px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "img1 img1 img2 img2 img3 img3 publicidad publicidad" "img4 img4 img5 img5 img6 img6 publicidad publicidad" "img7 img7 img8 img8 img9 img9 publicidad publicidad" "container__banner container__banner container__banner container__banner container__banner container__banner publicidad publicidad"; }
  main .img__grid {
    width: auto;
    height: auto; }
  main h4 {
    text-decoration: underline; }
  main .buy {
    margin-left: 45%;
    margin-top: 20px;
    border-radius: 3px;
    border: 0.5px solid;
    color: black;
    background-color: whitesmoke; }
    main .buy:hover {
      opacity: 1;
      transition: 1s;
      color: white;
      background-color: #ff8496;
      border: 1px solid white; }
  main .img1, main .img2, main .img3, main .img4, main .img5, main .img6, main .img7, main .img8, main .img9 {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #364c96;
    width: auto;
    height: auto;
    grid-area: img1; }
  main .img1:hover, main .img2:hover, main .img3:hover, main .img4:hover, main .img5:hover, main .img6:hover, main .img7:hover, main .img8:hover, main .img9:hover {
    cursor: pointer;
    opacity: 0.3;
    transition: 3s;
    transform: translatex(5px);
    border: solid 1px black; }
  main .img2 {
    grid-area: img2; }
  main .img3 {
    grid-area: img3; }
  main .img4 {
    grid-area: img4; }
  main .img5 {
    grid-area: img5; }
  main .img6 {
    grid-area: img6; }
  main .img7 {
    grid-area: img7; }
  main .img8 {
    grid-area: img8; }
  main .img9 {
    grid-area: img9; }
  main .publicidad {
    grid-area: publicidad; }
    main .publicidad :nth-child(1), main .publicidad .publicidad__dos, main .publicidad .publicidad__tres, main .publicidad .publicidad__cuatro {
      width: 100%;
      height: 25%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url(../images/gif__nike.gif); }
    main .publicidad .publicidad__dos {
      background-image: url(../images/gif-coca-music.gif); }
    main .publicidad .publicidad__tres {
      background-image: url(../images/gif__master__card.webp); }
    main .publicidad .publicidad__cuatro {
      background-image: url(../images/gif-spotify.webp); }
  main .container__banner {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    grid-area: container__banner; }
  main .container__banner__proximos__recitales {
    width: 95%;
    height: auto;
    border-radius: 10px;
    background-image: url(../images/dj.webp);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    transition: 2.5s; }
    main .container__banner__proximos__recitales p {
      font-size: 20px;
      color: white;
      margin-top: 5%;
      margin-left: 10%;
      border-top: 2px solid white; }
    main .container__banner__proximos__recitales:hover {
      cursor: pointer;
      opacity: 1;
      transform: skewX(-5deg); }
      main .container__banner__proximos__recitales:hover p {
        color: orangered;
        border-top: 2px solid orangered; }

/*Normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

/*Nosotros*/
.nosotros__imagen {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  background-image: url(../images/background_universo.webp); }
  .nosotros__imagen img {
    border-radius: 50px; }

.nosotros__texto {
  color: white;
  width: 75%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 95px;
  margin-right: 10px; }
  .nosotros__texto h1 {
    margin-top: 5px; }
  .nosotros__texto h4 {
    margin-top: 30px;
    font-family: cursive; }
  .nosotros__texto p {
    margin-top: 10px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }

.container__tickets {
  width: 100%;
  height: 700px;
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/background_universo.webp);
  background-repeat: no-repeat;
  background-size: cover; }
  .container__tickets .container__tickets__form {
    width: 50%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    background-color: #18206d; }
    .container__tickets .container__tickets__form .container__tickets__seleccione__artista {
      width: 25%; }
    .container__tickets .container__tickets__form label {
      color: white; }
    .container__tickets .container__tickets__form .form-check {
      font-size: large;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      color: white; }
    .container__tickets .container__tickets__form .ticket__button {
      margin-left: 80%;
      margin-top: 20px;
      width: 10rem;
      border: 0.5px;
      border-radius: 3px;
      color: white;
      background-color: #851640; }
      .container__tickets .container__tickets__form .ticket__button:hover {
        transition: 1s;
        color: white;
        background-color: #ff8496; }
  .container__tickets #container__gif {
    width: 45%;
    height: 275px;
    background-image: url(../images/gif__yellow__submarine.gif);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 60px;
    margin-top: 40px; }

/*Colores*/
/*Funcionales*/
/*Body*/
.body {
  width: 100%;
  height: auto;
  /*background-color: $third;*/
  background-color: #050031;
  /*background-image: url(../images/background_universo.webp);*/
  background-repeat: no-repeat; }

.type__over__ligth {
  font-family: 'Overpass', sans-serif;
  font-weight: 300; }

.type__over__medium {
  font-family: 'Overpass', sans-serif;
  font-weight: 500; }

.type__over__bold {
  font-family: 'Overpass', sans-serif;
  font-weight: 700; }

/*Galeria*/
h1 {
  width: auto;
  margin-top: 20px;
  text-align: center;
  color: white; }

.multimedia {
  width: 100%;
  height: auto;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .multimedia iframe {
    width: 70%;
    margin-top: 30px;
    margin-bottom: 15px; }
    .multimedia iframe:hover {
      opacity: 0.3;
      transition: 1s;
      box-shadow: 20px 20px 200px #4076c9; }

@media (min-width: 400px) and (max-width: 576px) {
  /*index.html*/
  body {
    width: 100%;
    height: auto;
    font-size: 1em;
    /*tickets.html*/
    /*nosotros.html*/
    /*galeria.html*/
    /*contacto.html*/ }
    body header {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-start; }
      body header .header__logo {
        display: none; }
      body header .header__container__name__navbar p {
        font-size: 2em; }
      body header .header__container__name__navbar .header__button {
        width: auto;
        height: auto;
        display: none;
        justify-content: flex-start; }
      body header .header__container__name__navbar nav {
        width: 5em;
        height: auto;
        font-size: 1em; }
      body header .header__container__name__navbar .navbar {
        width: 100%; }
    body main {
      width: 90%;
      background-image: none; }
      body main .main__h1 {
        display: none; }
      body main .main__carousel {
        display: none; }
      body main .main__grid {
        margin-top: 5px;
        padding: 1em;
        width: 90%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img7 img8" "img9 img9"; }
        body main .main__grid :nth-child(1), body main .main__grid .publicidad .publicidad__dos, body main .publicidad .main__grid .publicidad__dos, body main .main__grid .publicidad .publicidad__tres, body main .publicidad .main__grid .publicidad__tres, body main .main__grid .publicidad .publicidad__cuatro, body main .publicidad .main__grid .publicidad__cuatro {
          width: 100%; }
          body main .main__grid :nth-child(1) .card-body, body main .main__grid .publicidad .publicidad__dos .card-body, body main .publicidad .main__grid .publicidad__dos .card-body, body main .main__grid .publicidad .publicidad__tres .card-body, body main .publicidad .main__grid .publicidad__tres .card-body, body main .main__grid .publicidad .publicidad__cuatro .card-body, body main .publicidad .main__grid .publicidad__cuatro .card-body {
            width: 50%; }
        body main .main__grid .buy {
          width: 5em; }
      body main iframe {
        margin-bottom: 1em; }
    body .publicidad {
      display: none; }
    body .container__banner {
      display: none; }
    body footer {
      width: auto;
      height: auto;
      margin-top: 1px;
      margin-left: 1px;
      margin-bottom: 10px; }
      body footer .footer__navbar {
        font-size: 15px; }
      body footer .footer__redes {
        margin-top: 5px; }
    body .container__tickets .container__tickets__form {
      width: 95%; }
      body .container__tickets .container__tickets__form .container__button .ticket__button {
        margin-left: 4em; }
      body .container__tickets .container__tickets__form .container__button #container__gif {
        width: 95%; }
    body .nosotros__imagen {
      background-image: none; }
      body .nosotros__imagen img {
        width: 60%; }
    body .container__mapa {
      display: none; } }
