/*Body*/
.body{
    width: 100%;
    height: auto;
    /*background-color: $third;*/
    background-color: #050031;
    /*background-image: url(../images/background_universo.webp);*/
    background-repeat: no-repeat;
}