.container__form{
    background-image: url(../images/background_universo.webp);
    padding: 20px;
    .submit{
        width: 10rem;
        border: 0.5px;
        border-radius: 3px;
        color: white;
        background-color: rgb(133, 22, 64);
    }
    .submit:hover{
        transition: 1s;
        color: white;
        background-color: #ff8496;
    }
    fieldset{
        padding: 5px;
        margin: 5px;
    }
    input{
        background-color: #f8faff;
    }
    iframe{
        padding: 10px;
        width: 100%;
    }
    iframe:hover{
        border: 1.5px solid rgb(235, 223, 223);
    }
}
.container__mapa{
    background-image: url(../images/background_universo.webp);
    .mapa{
        width: 1200PX;
        height: 400px;
        margin-left: 200px;
        margin-bottom: 35px;
    }
}
    