/*Main*/
main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #050031;
    background-image: url(../images/background_universo.webp);
    background-repeat: no-repeat;
    .main__h1{
        margin-top: 20px;
        font-size: 40px;
        color: #f8faff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-decoration:overline;
    }
    .main__carousel{
        width: 60rem;
        height: auto;
        
        margin-top: 30px;
        margin-left: 600px;
        background-image: url(../images/background_universo.webp);
        &:hover{
            border: solid 1px #ff8496;
            box-shadow: 20px 20px 60px rgb(38, 34, 80);
        }
    }
    .main__grid{
        margin-top: 100px;
        padding: 100px;
        width: 100%;
        height: auto;
        display: grid;
        gap: 15px 15px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "img1 img1 img2 img2 img3 img3 publicidad publicidad"
        "img4 img4 img5 img5 img6 img6 publicidad publicidad"
        "img7 img7 img8 img8 img9 img9 publicidad publicidad"
        "container__banner container__banner container__banner container__banner container__banner container__banner publicidad publicidad";
    }
    .img__grid{
        width: auto;
        height: auto;
    }
    h4{
        text-decoration: underline;
    }
    .buy{
        margin-left: 45%;
        margin-top: 20px;
        border-radius: 3px;
        border: 0.5px solid;
        color: #070606;
        background-color: #f8faff;
        &:hover{
            opacity: 1;
            transition: 1s;
            color: #f8faff;
            background-color: #ff8496;
            border: 1px solid #f8faff;
        }
    }
    .img1 {
        display: flex;
        justify-content: center;
        color: #f8faff;
        background-color: #364c96;
        width: auto;
        height: auto;
        grid-area: img1; }
    .img1:hover {
        cursor: pointer;
        opacity: 0.3;
        transition: 3s;
        transform: translatex(5px);
        border: solid 1px black;}
    .img2 {
        @extend .img1;        
        grid-area: img2; }
    .img2:hover {
        @extend.img1:hover; }
    .img3 {
        @extend .img1;
        grid-area: img3; }
    .img3:hover {
        @extend.img1:hover; }
    .img4 {
        @extend .img1;
        grid-area: img4; }
    .img4:hover {
        @extend.img1:hover; }
    .img5 {
        @extend .img1;
        grid-area: img5; }
    .img5:hover {
        @extend.img1:hover; }
    .img6 {
        @extend .img1;
        grid-area: img6; }
    .img6:hover {
        @extend.img1:hover; }
    .img7 {
        @extend .img1;
        grid-area: img7; }
    .img7:hover {
        @extend.img1:hover; }
    .img8 {
        @extend .img1;
        grid-area: img8; }
    .img8:hover {
        @extend.img1:hover; }
    .img9 {
        @extend .img1;
        grid-area: img9; }
    .img9:hover {
        @extend.img1:hover; }
    .publicidad {
        grid-area: publicidad;
        :nth-child(1){
            width: 100%;
            height: 25%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: url(../images/gif__nike.gif);
            
        }
        .publicidad__dos/*:nth-child(2)*/{
            @extend :nth-child(1);
            background-image: url(../images/gif-coca-music.gif);
        }
        .publicidad__tres/*:nth-child(3)*/{
            @extend :nth-child(1);
            background-image: url(../images/gif__master__card.webp);
        }
        .publicidad__cuatro/*:nth-child(4)*/{
            @extend :nth-child(1);
            background-image: url(../images/gif-spotify.webp);
        }
    }
    .container__banner {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        grid-area: container__banner; }
        .container__banner__proximos__recitales{
            width: 95%;
            height: auto;
            border-radius: 10px;
            background-image: url(../images/dj.webp);
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.3;
            transition: 2.5s;
            p{
                font-size: 20px;
                color: #f8faff;
                margin-top: 5%;
                margin-left: 10%;
                border-top: 2px solid #f8faff;
            }
            &:hover{
                cursor: pointer;
                opacity: 1;
                transform: skewX(-5deg);
                p{
                color: orangered;
                border-top: 2px solid orangered;
                }
            }
        }
}